<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/8458B09B-93EA-44C2-AD05-0B4E4A4D9651</string>
	<key>NetworkServices</key>
	<dict>
        <key>733706DB-942B-4451-9F70-65379770E441</key>
		<dict>
			<key>DNS</key>
			<dict>
				<key>__INACTIVE__</key>
				<true/>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>VPN</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>SubType</key>
				<string>com.wireguard.macos</string>
				<key>Type</key>
				<string>VPN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
				<key>__INACTIVE__</key>
				<true/>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>kekos</string>
			<key>VPN</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>Password</string>
				<key>DesignatedRequirement</key>
				<string>(anchor apple generic and certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = L82V4Y2P3C) and identifier "com.wireguard.macos.network-extension"</string>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>0</integer>
				<key>DisconnectOnIdle</key>
				<integer>0</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>0</integer>
				<key>DisconnectOnLogout</key>
				<integer>0</integer>
				<key>DisconnectOnSleep</key>
				<integer>0</integer>
				<key>DisconnectOnWake</key>
				<integer>0</integer>
				<key>DisconnectOnWakeTimer</key>
				<integer>0</integer>
				<key>NEProviderBundleIdentifier</key>
				<string>com.wireguard.macos.network-extension</string>
				<key>OnDemandEnabled</key>
				<false/>
				<key>PasswordReference</key>
				<data>
				c3N1aQAAACCHGRyjD8kR1ISaAAUCtSEiAAAAAAAAAAAA
				AAAAAAAABmRibm0AAAAmfi9MaWJyYXJ5L0tleWNoYWlu
				cy9sb2dpbi5rZXljaGFpbi1kYgBpdGVtAAAASoAAAAAA
				AAAra2Vrb3M6IDhEREVGQTYwLThFRUItNDdGNS1CMjE5
				LTg3Njc0MDc2MEE0NgAAABNjb20ud2lyZWd1YXJkLm1h
				Y29z
				</data>
				<key>RemoteAddress</key>
				<string>Unspecified</string>
			</dict>
			<key>com.wireguard.macos</key>
			<dict>
				<key>UID</key>
				<integer>501</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
